ama_archiver @ file:///home/eclair/Documents/coding/python/ama_archiver/.tox/.tmp/package/6/ama_archiver-0.0.post1.dev8%2Bg39ac915.d20240306-0.editable-py3-none-any.whl#sha256=01de321e986c8cea481f88e3ce7917f076eea3c41d030038213b379cae024310
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
coverage==7.4.3
exceptiongroup==1.2.0
idna==3.6
iniconfig==2.0.0
packaging==23.2
pluggy==1.4.0
pytest==8.0.2
pytest-cov==4.1.0
requests==2.31.0
soupsieve==2.5
tomli==2.0.1
urllib3==2.2.1
